{% extends 'base.html' %}
{% block title %} Dashboard | Seller {% endblock %}
{% block content %}
    <div
      class="flex h-screen bg-gray-50 dark:bg-gray-900"
      :class="{ 'overflow-hidden': isSideMenuOpen }"
    >
    {% include 'dashboard/components/sidebar.html' %}
    
    <div class="flex flex-col flex-1 w-full">

        {% include 'dashboard/components/navbar.html' %}

        <main class="h-full overflow-y-auto">
          <div class="container px-6 mx-auto grid">
            <h2
              class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200"
            >
              Dashboard
            </h2>
            <!-- CTA -->

            {% include 'dashboard/components/cards.html' %}

            <!-- Charts -->
            <h2
              class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200"
            >
              System Users
            </h2>
            {% include 'dashboard/components/table.html' %}

            {% if perms.blog.view_blog %}
            <h2
              class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200"
            >
              Blogs
            </h2>
            <!-- New Table -->
            {% include 'dashboard/components/table_with_action.html' %}
            {% endif %}


          </div>
        </main>
      </div>
    </div>

{% endblock %}
