{% extends 'base.html' %}

{% block content %}
{% load crispy_forms_tags %}
{%load tailwind_filters %}
<div class="h-screen flex justify-center items-center">
    <div style="max-width: 400px;">
        <div class="w-full flex justify-center">
            <lord-icon src="https://cdn.lordicon.com/dxjqoygy.json" trigger="hover"
                colors="primary:#121331,secondary:#e83a30" style="width:80px;height:80px">
            </lord-icon>
        </div>
        <div class="w-full flex justify-center" style="margin-bottom: 20px;">
            <h1 class="text-xl font-semibold text-gray-700 my-2">Welcome Back!</h1>
        </div>
        <form action="" method="post">
            {%csrf_token%}
            {{form | crispy}}
            <div class="w-full flex justify-center mb-4" style="margin-top: 10px;"><a href="" class="text-sm" style="color: rgb(10, 100, 236);">Don't have an account?</a></div>
            <button
                class="px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple w-full">
                Login
            </button>
        </form>
    </div>
</div>

{% endblock %}